/* Reset some default styles */
body, h2, p, input, button, img {
    margin: 0;
    padding: 0;
}

/* Style for the search bar */
.search-bar {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
}

#search {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    background-color: #0056b3;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    outline: none;
}

/* Style for event cards */
.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.event-card {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.event-card h2 {
    padding: 10px;
    font-size: 20px;
}

.event-card p {
    padding: 10px;
    font-size: 16px;
}
.booknow-button, .soldout-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}